.wrap {
  position: relative;
  background-color: #fff;
  padding-bottom: 0.2667rem;
  margin-bottom: 0.2667rem;
}
.wrap .return {
  position: absolute;
  top: 0.1333rem;
  left: 0.1333rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'icomoon';
  color: #333333;
}
.wrap header {
  width: 100%;
  height: 2.1333rem;
  line-height: 2.1333rem;
  text-align: center;
  color: #1B1B1B;
  font-size: 0.9333rem;
  border-bottom: 0.0267rem solid #ededed;
}
h5 {
  padding: 0.5333rem;
  font-size: 0.7467rem;
}
.reference {
  width: 100%;
}
.reference .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 0.0267rem solid #ededed;
}
.reference .detail p {
  margin: 0.8rem auto;
  font-size: 0.5333rem;
  color: #333333;
}
.reference .detail .salary {
  font-weight: 700;
  font-size: 1.8667rem;
  color: #ff6161;
}
.reference .detail .num {
  padding-top: 0.4033rem;
  padding-bottom: 0.8rem;
  font-size: 0.5867rem;
  color: #999999;
}
.content1 {
  width: 100%;
  background-color: #fff;
  padding-bottom: 0.5333rem;
}
.content1 .detail {
  padding-top: 0.2667rem;
  display: flex;
  justify-content: space-around;
  border-top: 0.0267rem solid #ededed;
}
.content1 .detail img {
  margin-top: 1.733rem;
  width: 8rem;
  height: 8rem;
}
.content1 .detail dl {
  width: 8.5867rem;
  height: 11.7333rem;
}
.content1 .detail dl dt {
  padding: 0.3333rem 0.4rem;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  font-size: 0.6133rem;
}
.content1 .detail dl dd {
  padding: 0.4333rem 0.4rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ededed;
  font-size: 0.5333rem;
}
.content1 .detail dl dd .Box {
  display: flex;
  justify-content: space-between;
  width: 5.68rem;
}
.content1 .detail dl dd .Box div[class^='box'] {
  margin-left: 0.2667rem;
  height: 0.5333rem;
}
.content1 .detail dl dd .Box .box1 {
  width: 1.2%;
  background-color: #ff8b02;
}
.content1 .detail dl dd .Box .box2 {
  width: 3.5%;
  background-color: #08a687;
}
.content1 .detail dl dd .Box .box3 {
  width: 4.4%;
  background-color: #427cff;
}
.content1 .detail dl dd .Box .box4 {
  width: 16%;
  background-color: #36c38f;
}
.content1 .detail dl dd .Box .box5 {
  width: 18.9%;
  background-color: #ec5762;
}
.content1 .detail dl dd .Box .box6 {
  width: 35.7%;
  background-color: #52c4f0;
}
.content1 .detail dl dd .Box .box7 {
  width: 18.8%;
  background-color: #febe00;
}
.content2 {
  margin-top: 0.2667rem;
  padding-bottom: 0.5333rem;
  width: 100%;
  background-color: #fff;
}
.content2 .detail {
  padding-top: 0.2667rem;
  border-top: 0.0267rem solid #ededed;
}
.content2 .detail ul li {
  padding: 0.2667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7467rem;
  height: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 2px;
}
.content2 .detail ul li .box {
  margin-bottom: 1.233rem;
  width: 11.8667rem;
  height: 1.2333rem;
  border-bottom: 0.0267rem dashed #b3aeae;
}
.content2 .detail ul li .num {
  width: 1.1467rem;
  height: 1.1467rem;
  line-height: 1.1467rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
.content2 .detail ul li:nth-child(1) .num {
  background-color: #fc6460;
}
.content2 .detail ul li:nth-child(2) .num {
  background-color: #fcb860;
}
.content2 .detail ul li:nth-child(3) .num {
  background-color: #cdc5ae;
}
.content2 .detail ul li:nth-child(4) .num,
.content2 .detail ul li:nth-child(5) .num,
.content2 .detail ul li:nth-child(6) .num,
.content2 .detail ul li:nth-child(7) .num {
  background-color: #d2d2d2;
}
